*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #dfe2df;
    font-family: 'open sans';
}
#contenedor{ 
    width: absolute;
	height: absolute;
   background-color: transparent;
   overflow: hidden;
   margin: auto;
   position: absolute;
   
}
header{
    background-color: hsla(240, 100%, 50%, 0.298);
    height: 300px;
    padding: 40px;
    width: 100%;
    
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    
  
}

.dentro {
    display: block;
    height: 250px;
    object-fit: cover;
    animation: arriba 1s ease-in;
    position: absolute;
    right: 50px;
    top: 0px;
}
.dentro img{
    margin-top: 10px;
}

.textos{
    width: 50%;
    color:#fff;
    position: relative;
    right: 300px;
}

.texto img{
    display: block;
    height: 100px;
}

.textos a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: arriba 1s ease-in;

}

.jin{
    height: 100px;
    width: 100%;
    
    background-color: hsla(240, 100%, 50%, 0.298);
}




.caja{
    
        position: relative;
        width: 1350px;
        height: 1200px;
        background-color: white;

       

}
.derecha{
    position: absolute;
    left: 10px;
    margin-top: 500px;
    background-color: darkgoldenrod;
    
    }
    .derecha img{
        border-color: black;
        border-style: solid;
        left: 0px;
       position: absolute;
    }
    .izquierda{
        position: absolute;
    left: 1080px;
    top: 530px;
    background-color: transparent;
    
    }
    .izquierda img{
        border: 5px solid black;
        
    }

.contenedor{
    width: 700px;
    max-width:900px;
    margin: auto;
    height:600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: transparent;
    position: absolute;
    left: 300px;
}

.tabla{
    width: 33%;
    height: 480px;
    margin: auto;
    border:1px solid #343759;
    border-radius: 4px;
    box-shadow: 0px 0px 4px 0px  #343759;
    padding: 60px;
    text-align: center;
    flex-grow: 1;
    color: #343759;
    margin-top: 100px;
    position: relative;
    left: 0px;
}

.tabla>h2{
    font-size:30px;
    margin-bottom:35px;
}

.tabla img{
    width: 64px;
    margin-bottom:35px;
}

.tabla > h3{
    font-size:30px;
    margin-bottom: 20px;
}

.tabla > p{
    display: block;
    margin-bottom:20px;
}

.boton{
    display:inline-block;
    width: 150px;
    padding:12px;
    background: #a5f059;
    text-decoration: none;
    color: #343759;
    border-radius: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    margin: auto;
}

.tabla:hover{
    background: #343759;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (max-width: 1000px){
    .tabla{
        width: 45%;
        max-width:none;
        margin-bottom: 40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px){
    .tabla{
        width: 45%;
        padding:30px;
    }
    .tabla > h2{
        margin-top:40px;
    }
}

@media screen and (max-width:550px){
    .tabla{
        width: 85%;
        padding: 20px;
    }
}
footer {
    background-color: hsla(240, 100%, 50%, 0.298);
    height: 200px;
    
}
.contenedora{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}
img{
    margin-top: 0px;
}